src/main/mule/test_circleci.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="61c579f8-13a5-467a-bd96-7c7947be12aa" >
		<http:listener-connection host="0.0.0.0" port="9999" />
	</http:listener-config>
	<flow name="test_circleciFlow" doc:id="cf90f1f6-ed6c-4217-bf73-31195ab659e2" >
		<http:listener doc:name="Listener" doc:id="310cc992-99d3-477d-8630-bb91150c4906" config-ref="HTTP_Listener_config" path="/testCircleCI"/>
		<set-variable value="#[attributes.queryParams.sequenceNo]" doc:name="Set Variable" doc:id="5cec8fe9-b282-422f-bc89-21ec96ba4da5" variableName="sequenceNo"/>
		<flow-ref doc:name="Flow Reference" doc:id="df3e9b28-c0a4-435f-8a49-7f42b05ae102" name="test_circleciSub_Flow"/>
		
	</flow>
	<sub-flow name="test_circleciSub_Flow" doc:id="d9eea72d-212e-420f-a7e2-b33d4098994f">
	<choice doc:name="Choice" doc:id="8598c1c9-d6e5-4265-8c6d-168d8490e19b" >
			<when expression="#[vars.sequenceNo=='1']">
				<logger level="INFO" doc:name="Logger" doc:id="0f14f2dd-c5dd-4a56-ab71-81be61182953" message="pass"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="83765d84-8b70-4943-bb2d-aeb73f2d37e3" message="failed"/>
			</otherwise>
		</choice>
	</sub-flow>
</mule>
